.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.historyHeader {
    width: 100%;
    text-align: center;
}

.historyHeader, h5 {
    margin-top: 8px;
}

.heroBlockList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.heroBlock {
    max-width: 100px;
    margin: 10px;
    text-align: center;
    /* line-height: 75px; */
    /* font-size: 30px; */
}

.heroBlock:hover {
    background-color: #f1f1f1;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transform: scale(1.3);
    img {
    }
}

.heroBlock > .hero-name {
    font-size: 16px;
}

.hidden {
    display: none;
}

.png-icon.medium {
    /* max-width: 60%; */
    max-width: 80px;
    height: auto;
}